Repository percona/percona-helm-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hors, @tplavcic, @nmarukovich, @jvpasinatto, @eleo007, @valmiranogueira, @percona/pmm-review-be, @percona/everest-backend-devs

.github/CODEOWNERS:

* @hors @tplavcic @nmarukovich @jvpasinatto @eleo007 @valmiranogueira
/charts/pmm/ @percona/pmm-review-be
/charts/pmm-ha/ @percona/pmm-review-be
/charts/everest/ @percona/everest-backend-devs
.github/everest-pr-checks.yaml @percona/everest-backend-devs
.github/everest-release.yaml @percona/everest-backend-devs
.github/workflows/pmm-ha-pr-checks.yaml @percona/pmm-review-be

Update Chart.lock for pg-operator dependency
  charts/pmm-ha/Chart.lock
Owners: @percona/pmm-review-be

Update ClickHouse user example in values.yaml for clarity
  charts/pmm-ha/values.yaml
Owners: @percona/pmm-review-be

PMM-14410 - Miscellaneous improvements on pmm-ha
  charts/pmm-ha/templates/haproxy-tls-secret.yaml
Owners: @percona/pmm-review-be

The current logic only references the secret when NOT creating it, but it should reference the secret whenever a secret name is provided.
  charts/pmm-ha/templates/statefulset.yaml
Owners: @percona/pmm-review-be

Update CRD
  charts/everest/charts/everest-crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_databaseclusters.everest.percona.com.yaml
  charts/everest/charts/everest-crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_splithorizondnsconfigs.enginefeatures.everest.percona.com.yaml
  charts/everest/crds/apiextensions.k8s.io_v1_customresourcedefinition_splithorizondnsconfigs.enginefeatures.everest.percona.com.yaml
  charts/everest/templates/everest-operator/enginefeatures-splithorizondnsconfig-editor-role.yaml
  charts/everest/templates/everest-operator/enginefeatures-splithorizondnsconfig-viewer-role.yaml
Owners: @percona/everest-backend-devs

Update CRD
  charts/everest/charts/everest-crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_splithorizondnsconfigs.engine-features.everest.percona.com.yaml
  charts/everest/charts/everest-crds/templates/apiextensions.k8s.io_v1_customresourcedefinition_splithorizondnsconfigs.enginefeatures.everest.percona.com.yaml
  charts/everest/templates/everest-operator/manager.clusterrole.yaml
Owners: @percona/everest-backend-devs

Fix VictoriaMetrics configuration in pmm-ha chart
  charts/pmm-ha/ci/ci-values.yaml
  charts/pmm-ha/templates/vmauth-config.yaml
  charts/pmm-ha/values.yaml
Owners: @percona/pmm-review-be

K8SPG-869 validation adjust for repos when backups are disabled
  charts/pg-operator/crds/crd.yaml
Owners: @hors, @tplavcic, @nmarukovich, @jvpasinatto, @eleo007, @valmiranogueira

PMM-14402 Rename PMM_TEST variables
  charts/pmm-ha/templates/statefulset.yaml
  charts/pmm-ha/values.yaml
Owners: @percona/pmm-review-be

PMM-14402 Add more useful variables
  charts/pmm-ha/values.yaml
Owners: @percona/pmm-review-be

Update crd
  charts/psmdb-operator/crds/crd.yaml
Owners: @hors, @tplavcic, @nmarukovich, @jvpasinatto, @eleo007, @valmiranogueira

Update resources
  charts/psmdb-db/README.md
  charts/psmdb-db/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @jvpasinatto, @eleo007, @valmiranogueira

Add arbiter resources
  charts/psmdb-db/README.md
  charts/psmdb-db/templates/cluster.yaml
  charts/psmdb-db/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @jvpasinatto, @eleo007, @valmiranogueira

Enhance ClickHouse cluster name validation in pmm-ha chart
  charts/pmm-ha/templates/clickhouse-cluster.yaml
  charts/pmm-ha/templates/clickhouse-keeper.yaml
  charts/pmm-ha/values.yaml
Owners: @percona/pmm-review-be

validation for MySQL Router and HAProxy that they can't be enabled at the same time
  charts/ps-operator/crds/crd.yaml
Owners: @hors, @tplavcic, @nmarukovich, @jvpasinatto, @eleo007, @valmiranogueira

Add hidden nodes
  charts/psmdb-db/README.md
  charts/psmdb-db/templates/cluster.yaml
  charts/psmdb-db/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @jvpasinatto, @eleo007, @valmiranogueira

Add backup.startingDeadlineSeconds
  charts/psmdb-db/README.md
  charts/psmdb-db/templates/cluster.yaml
  charts/psmdb-db/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @jvpasinatto, @eleo007, @valmiranogueira

Add backup.startingDeadlineSeconds in readme
  charts/psmdb-db/README.md
Owners: @hors, @tplavcic, @nmarukovich, @jvpasinatto, @eleo007, @valmiranogueira

update rule
  charts/pg-operator/crds/crd.yaml
Owners: @hors, @tplavcic, @nmarukovich, @jvpasinatto, @eleo007, @valmiranogueira

Update PSMDB operator charts for 1.21.0 release (#552)
  charts/psmdb-db/Chart.yaml
  charts/psmdb-db/README.md
  charts/psmdb-db/templates/cluster.yaml
  charts/psmdb-db/values.yaml
  charts/psmdb-operator/Chart.yaml
  charts/psmdb-operator/README.md
  charts/psmdb-operator/crds/crd.yaml
  charts/psmdb-operator/templates/NOTES.txt
  charts/psmdb-operator/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @jvpasinatto, @eleo007, @valmiranogueira

Update index.yaml
  index.yaml
Owners: @hors, @tplavcic, @nmarukovich, @jvpasinatto, @eleo007, @valmiranogueira

Bump chart version
  charts/ps-db/Chart.yaml
  charts/ps-db/README.md
  charts/ps-db/values.yaml
  charts/ps-operator/Chart.yaml
  charts/ps-operator/README.md
  charts/ps-operator/crds/crd.yaml
  charts/ps-operator/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @jvpasinatto, @eleo007, @valmiranogueira

Update PMM HA chart configuration in values.yaml and secret-certs.yaml
  charts/pmm-ha/templates/secret-certs.yaml
  charts/pmm-ha/values.yaml
Owners: @percona/pmm-review-be
