Repository percona/percona-helm-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007, @percona/pmm-review-be, @spron-in, @percona/everest-backend-devs

Update index.yaml
  index.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Update index.yaml
  index.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Update PG operator chart for 2.5.1 release
  charts/pg-db/Chart.yaml
  charts/pg-db/README.md
  charts/pg-db/values.yaml
  charts/pg-operator/Chart.yaml
  charts/pg-operator/README.md
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Update PG operator chart for 2.5.1 release (#495)
  charts/pg-db/Chart.yaml
  charts/pg-db/README.md
  charts/pg-db/values.yaml
  charts/pg-operator/Chart.yaml
  charts/pg-operator/README.md
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Update index.yaml
  index.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Update index.yaml
  index.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Update index.yaml
  index.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Delete Everest RC versions
  index.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

* fixing database and table creation on clickhouse
  charts/pmm-ha/charts/clickhouse/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

K8SPSMDB-1219: Add main storage example
  charts/psmdb-db/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

[K8SPS-382 remove loadBalancerIP
  charts/ps-db/README.md
  charts/ps-db/values.yaml
  charts/ps-operator/crds/crd.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Update db to PG16
  charts/pg-db/README.md
  charts/pg-db/templates/NOTES.txt
  charts/pg-db/values.yaml
  charts/pg-operator/crds/crd.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Update rbac and crd
  charts/pg-operator/crds/crd.yaml
  charts/pg-operator/templates/role.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Add finalizer and metadata fields
  charts/pg-db/templates/cluster.yaml
  charts/pg-db/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

PMM-7 Update values.yaml
  charts/pmm/values.yaml
Owners: @percona/pmm-review-be, @spron-in

PMM-7 update helm chart version.
  charts/pmm/Chart.yaml
Owners: @percona/pmm-review-be, @spron-in

update crds
  charts/everest/crds/everest.yaml
Owners: @percona/everest-backend-devs

reuse certificates if they exist
  charts/pxc-db/templates/cluster-ssl-secret.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

* add haproxy
  charts/pmm-ha/charts/haproxy/.helmignore
  charts/pmm-ha/charts/haproxy/Chart.yaml
  charts/pmm-ha/charts/haproxy/README.md
  charts/pmm-ha/charts/haproxy/chart-icon.png
  charts/pmm-ha/charts/haproxy/ci/daemonset-basic-values.yaml
  charts/pmm-ha/charts/haproxy/ci/daemonset-hostnet-values.yaml
  charts/pmm-ha/charts/haproxy/ci/daemonset-ingress-values.yaml
  charts/pmm-ha/charts/haproxy/ci/daemonset-probes-values.yaml
  charts/pmm-ha/charts/haproxy/ci/deployment-basic-values.yaml
  charts/pmm-ha/charts/haproxy/ci/deployment-config-values.yaml
  charts/pmm-ha/charts/haproxy/ci/deployment-hpa-values.yaml
  charts/pmm-ha/charts/haproxy/ci/deployment-ingress-values.yaml
  charts/pmm-ha/charts/haproxy/ci/deployment-probes-values.yaml
  charts/pmm-ha/charts/haproxy/templates/NOTES.txt
  charts/pmm-ha/charts/haproxy/templates/_helpers.tpl
  charts/pmm-ha/charts/haproxy/templates/configmap.yaml
  charts/pmm-ha/charts/haproxy/templates/daemonset.yaml
  charts/pmm-ha/charts/haproxy/templates/deployment.yaml
  charts/pmm-ha/charts/haproxy/templates/hpa.yaml
  charts/pmm-ha/charts/haproxy/templates/ingress.yaml
  charts/pmm-ha/charts/haproxy/templates/keda.yaml
  charts/pmm-ha/charts/haproxy/templates/poddisruptionbudget.yaml
  charts/pmm-ha/charts/haproxy/templates/podsecuritypolicy.yaml
  charts/pmm-ha/charts/haproxy/templates/pullsecret.yaml
  charts/pmm-ha/charts/haproxy/templates/role.yaml
  charts/pmm-ha/charts/haproxy/templates/rolebinding.yaml
  charts/pmm-ha/charts/haproxy/templates/service.yaml
  charts/pmm-ha/charts/haproxy/templates/serviceaccount.yaml
  charts/pmm-ha/charts/haproxy/templates/servicemonitor.yaml
  charts/pmm-ha/charts/haproxy/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Add annotations field plus fixes
  charts/pg-db/README.md
  charts/pg-db/templates/cluster.yaml
  charts/pg-db/values.yaml
  charts/pg-operator/README.md
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

* configure haproxy
  charts/pmm-ha/charts/haproxy/values.yaml
  charts/pmm-ha/templates/service.yaml
  charts/pmm-ha/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

fix ca cert
  charts/pxc-db/templates/cluster-ssl-secret.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

EVEREST-107 update VictoriaMetrics operator to v0.54.1
  charts/everest/Chart.lock
  charts/everest/Chart.yaml
  charts/everest/values.yaml
Owners: @percona/everest-backend-devs

EVEREST-107 update everest CRDs
  charts/everest/crds/everest.yaml
Owners: @percona/everest-backend-devs

update rbac
  charts/everest/templates/everest-operator/manager.clusterrole.yaml
Owners: @percona/everest-backend-devs

K8SPXC-1580 - Fix Secrets generation (#493)
  charts/pxc-db/Chart.yaml
  charts/pxc-db/README.md
  charts/pxc-db/templates/cluster-ssl-secret.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Update index.yaml
  index.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Add resources filed for pgbackrest.repoHost
  charts/pg-db/README.md
  charts/pg-db/templates/cluster.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

K8SPG-651 - Update PG charts for 2.6.0 release (#459)
  charts/pg-db/Chart.yaml
  charts/pg-db/README.md
  charts/pg-db/templates/_helpers.tpl
  charts/pg-db/templates/cluster.yaml
  charts/pg-db/values.yaml
  charts/pg-operator/Chart.yaml
  charts/pg-operator/README.md
  charts/pg-operator/crds/crd.yaml
  charts/pg-operator/templates/role.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Update index.yaml
  index.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

EVEREST-1930 add permissions to read pods
  charts/everest/templates/everest-operator/manager.clusterrole.yaml
Owners: @percona/everest-backend-devs

Update versions for 1.17.0 release
  charts/pxc-db/Chart.yaml
  charts/pxc-db/README.md
  charts/pxc-operator/Chart.yaml
  charts/pxc-operator/README.md
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

PMM-7 Update pod security context (#499)
  charts/pmm/Chart.yaml
  charts/pmm/values.yaml
Owners: @percona/pmm-review-be, @spron-in

Update index.yaml
  index.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

PMM-7 Update PMM version to 3.1.0
  charts/pmm/Chart.yaml
  charts/pmm/README.md
  charts/pmm/values.yaml
Owners: @percona/pmm-review-be, @spron-in

Add storage azure new fields and update crd
  charts/pxc-db/values.yaml
  charts/pxc-operator/crds/crd.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

EVEREST-1625 align helm and operator crds
  charts/everest/crds/everest.yaml
Owners: @percona/everest-backend-devs

update
  charts/pxc-db/values.yaml
  charts/pxc-operator/crds/crd.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

K8SPXC-1367: add `readinessProbes`, `livenessProbes` fields for pmm (#472)
  charts/pxc-db/README.md
  charts/pxc-db/templates/cluster.yaml
  charts/pxc-db/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

PMM-13725 Allow specifying namespace. (#483)
  charts/pmm/templates/_helpers.tpl
  charts/pmm/templates/clusterrole.yaml
  charts/pmm/templates/clusterrolebinding.yaml
  charts/pmm/templates/configmap.yaml
  charts/pmm/templates/ingress.yaml
  charts/pmm/templates/secret-certs.yaml
  charts/pmm/templates/secret.yaml
  charts/pmm/templates/service.yaml
  charts/pmm/templates/serviceaccount.yaml
  charts/pmm/templates/statefulset.yaml
  charts/pmm/values.yaml
Owners: @percona/pmm-review-be, @spron-in

.github/CODEOWNERS:

* @hors @tplavcic @nmarukovich @ptankov @jvpasinatto @eleo007
/charts/pmm/ @percona/pmm-review-be  @spron-in
/charts/everest/ @percona/everest-backend-devs
.github/everest-pr-checks.yaml @percona/everest-backend-devs
.github/everest-release.yaml @percona/everest-backend-devs
