Repository percona/percona-helm-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007, @percona/pmm-review-be, @spron-in, @percona/everest-backend-devs

Fix doc with default tag image: 3.0.0 Since it fetches from Chart.appVersion the doc became old
  charts/pmm/README.md
Owners: @percona/pmm-review-be, @spron-in

Update pg charts for 2.7.0 release
  charts/pg-db/Chart.yaml
  charts/pg-db/README.md
  charts/pg-db/values.yaml
  charts/pg-operator/Chart.yaml
  charts/pg-operator/README.md
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

add customClusterName
  charts/pg-db/README.md
  charts/pg-db/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

add crd
  charts/pg-operator/crds/crd.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

EVEREST-1869 add conditions to DBC CRD
  charts/everest/crds/everest.yaml
Owners: @percona/everest-backend-devs

K8SPG-704: Add create replica methods
  charts/pg-db/templates/cluster.yaml
  charts/pg-db/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

K8SPG-750 add cluster name to pmm (#508)
  charts/pg-db/README.md
  charts/pg-db/values.yaml
  charts/pg-operator/crds/crd.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Add pmm.customClusterName field in template
  charts/pg-db/templates/cluster.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

pg-2.7.0 K8SPG-654
  charts/pg-db/README.md
  charts/pg-db/values.yaml
  charts/pg-operator/crds/crd.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

add to cluster
  charts/pg-db/templates/cluster.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Pg 2.7.0 K8SPG-654 pmm postgres params (#511)
  charts/pg-db/README.md
  charts/pg-db/templates/cluster.yaml
  charts/pg-db/values.yaml
  charts/pg-operator/crds/crd.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

K8SPS-110 fix pmm chart
  charts/pmm/Chart.yaml
  charts/pmm/templates/statefulset.yaml
Owners: @percona/pmm-review-be, @spron-in

PMM-7 Update PMM version to 3.1.0 (#504)
  charts/pmm/Chart.yaml
  charts/pmm/README.md
  charts/pmm/values.yaml
Owners: @percona/pmm-review-be, @spron-in

Update index.yaml
  index.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

fix variables and pmm version
  charts/pmm/Chart.yaml
  charts/pmm/values.yaml
Owners: @percona/pmm-review-be, @spron-in

bump version
  charts/pmm/Chart.yaml
Owners: @percona/pmm-review-be, @spron-in

fix values
  charts/pmm/values.yaml
Owners: @percona/pmm-review-be, @spron-in

Update index.yaml
  index.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

K8SPSMDB-1265 - Update PSMDB operator chart for 1.20.0 release
  charts/psmdb-db/Chart.yaml
  charts/psmdb-db/README.md
  charts/psmdb-db/values.yaml
  charts/psmdb-operator/Chart.yaml
  charts/psmdb-operator/README.md
  charts/psmdb-operator/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

K8SPG-574: add `pg_repack` to `.spec.extensions.builtin`
  charts/pg-db/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

update readme
  charts/pg-db/README.md
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

K8SPG-710: Add field to enable/disable backups
  charts/pg-db/README.md
  charts/pg-db/templates/cluster.yaml
  charts/pg-db/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

PMM-13725 Allow specifying namespace also to service and service account
  charts/pmm/templates/service.yaml
  charts/pmm/templates/serviceaccount.yaml
Owners: @percona/pmm-review-be, @spron-in

K8SPG-753: Add pg_stat_statements to builtin extensions example
  charts/pg-db/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

set backups.enabled
  charts/pg-db/templates/cluster.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

An ingress for everest server
  charts/everest/templates/everest-server/ingress.yaml
  charts/everest/values.yaml
Owners: @percona/everest-backend-devs

K8SPG-615: Add initialDelaySeconds for backups
  charts/pg-db/README.md
  charts/pg-db/templates/cluster.yaml
  charts/pg-db/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

PMM-13725 update chart version
  charts/pmm/Chart.yaml
Owners: @percona/pmm-review-be, @spron-in

Update charts/everest/values.yaml
  charts/everest/values.yaml
Owners: @percona/everest-backend-devs

Support service name for ingress, and pull in some comments for values.yaml
  charts/everest/templates/everest-server/ingress.yaml
  charts/everest/templates/everest-server/service.yaml
  charts/everest/values.yaml
Owners: @percona/everest-backend-devs

change className to ingressClassName
  charts/everest/templates/everest-server/ingress.yaml
  charts/everest/values.yaml
Owners: @percona/everest-backend-devs

Last service name change to from value
  charts/everest/templates/everest-server/ingress.yaml
Owners: @percona/everest-backend-devs

Update charts/everest/templates/everest-server/ingress.yaml
  charts/everest/templates/everest-server/ingress.yaml
Owners: @percona/everest-backend-devs

Updating README.md
  charts/everest/README.md
Owners: @percona/everest-backend-devs

fix chart for using watchAllNamespaces
  charts/ps-operator/templates/deployment.yaml
  charts/ps-operator/templates/role-binding.yaml
  charts/ps-operator/templates/role.yaml
  charts/ps-operator/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

fix rolebinding
  charts/ps-operator/templates/role-binding.yaml
  charts/ps-operator/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

rollback default value to correct value
  charts/ps-operator/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

rollback accidentally removed value
  charts/ps-operator/templates/deployment.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

fix README.md
  charts/ps-operator/README.md
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

fix README.md
  charts/ps-operator/README.md
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

.github/CODEOWNERS:

* @hors @tplavcic @nmarukovich @ptankov @jvpasinatto @eleo007
/charts/pmm/ @percona/pmm-review-be  @spron-in
/charts/everest/ @percona/everest-backend-devs
.github/everest-pr-checks.yaml @percona/everest-backend-devs
.github/everest-release.yaml @percona/everest-backend-devs
