Repository percona/percona-helm-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007, @percona/pmm-review-be, @spron-in, @percona/everest-backend-devs

add back olm
  charts/everest/Chart.yaml
  charts/everest/charts/everest-crds/README.md
  charts/everest/charts/everest-olm/.helmignore
  charts/everest/charts/everest-olm/Chart.yaml
  charts/everest/charts/everest-olm/crds/catalogsources.operators.coreos.com.yaml
  charts/everest/charts/everest-olm/crds/clusterserviceversions.operators.coreos.com.yaml
  charts/everest/charts/everest-olm/crds/installplans.operators.coreos.com.yaml
  charts/everest/charts/everest-olm/crds/olmconfigs.operators.coreos.com.yaml
  charts/everest/charts/everest-olm/crds/operatorconditions.operators.coreos.com.yaml
  charts/everest/charts/everest-olm/crds/operatorgroups.operators.coreos.com.yaml
  charts/everest/charts/everest-olm/crds/operators.operators.coreos.com.yaml
  charts/everest/charts/everest-olm/crds/subscriptions.operators.coreos.com.yaml
  charts/everest/charts/everest-olm/templates/_helpers.tpl
  charts/everest/charts/everest-olm/templates/namespace.yaml
  charts/everest/charts/everest-olm/templates/olmconfig.yaml
  charts/everest/charts/everest-olm/templates/serviceaccount.yaml
  charts/everest/charts/everest-olm/values.yaml
  charts/everest/templates/everest-olm/catalog-operator.deployment.yaml
  charts/everest/templates/everest-olm/certs.certmanager.yaml
  charts/everest/templates/everest-olm/clusterrole.yaml
  charts/everest/templates/everest-olm/clusterrolebinding.yaml
  charts/everest/templates/everest-olm/namespace.yaml
  charts/everest/templates/everest-olm/olm-operator.deployment.yaml
  charts/everest/templates/everest-olm/olmconfig.yaml
  charts/everest/templates/everest-olm/packageserver.apiservice.yaml
  charts/everest/templates/everest-olm/packageserver.deployment.yaml
  charts/everest/templates/everest-olm/packageserver.rbac.yaml
  charts/everest/templates/everest-olm/packageserver.service.yaml
  charts/everest/templates/everest-olm/serviceaccount.yaml
Owners: @percona/everest-backend-devs

add back olm crd
  charts/everest/crds/olm/crds.yaml
Owners: @percona/everest-backend-devs

clean-up
  charts/everest/Chart.lock
  charts/everest/Chart.yaml
  charts/everest/README.md
  charts/everest/values.yaml
Owners: @percona/everest-backend-devs

add max as maintainer
  charts/everest/charts/common/Chart.yaml
  charts/everest/charts/everest-crds/Chart.yaml
  charts/everest/charts/everest-db-namespace/Chart.yaml
Owners: @percona/everest-backend-devs

revert helpers
  charts/everest/templates/_helpers.tpl
Owners: @percona/everest-backend-devs

cleanup
  charts/test.yaml
  hack/crd-split.py
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

update docs
  charts/everest/charts/common/README.md
  charts/everest/charts/everest-crds/README.md
  charts/everest/charts/everest-db-namespace/README.md
Owners: @percona/everest-backend-devs

bump
  charts/everest/charts/common/Chart.yaml
Owners: @percona/everest-backend-devs

update docs
  charts/everest/charts/common/README.md
Owners: @percona/everest-backend-devs

update docs
  charts/everest/README.md
  charts/everest/README.md.gotmpl
Owners: @percona/everest-backend-devs

update docs
  charts/everest/README.md
  charts/everest/README.md.gotmpl
Owners: @percona/everest-backend-devs

fix docs
  charts/everest/README.md
  charts/everest/README.md.gotmpl
Owners: @percona/everest-backend-devs

remove olm manifests
  charts/everest/Chart.lock
  charts/everest/Chart.yaml
  charts/everest/charts/everest-db-namespace/Chart.lock
  charts/everest/crds/olm/crds.yaml
  charts/everest/templates/_helpers.tpl
  charts/everest/templates/everest-catalogsource.yaml
  charts/everest/templates/everest-olm/catalog-operator.deployment.yaml
  charts/everest/templates/everest-olm/certs.certmanager.yaml
  charts/everest/templates/everest-olm/clusterrole.yaml
  charts/everest/templates/everest-olm/clusterrolebinding.yaml
  charts/everest/templates/everest-olm/namespace.yaml
  charts/everest/templates/everest-olm/olm-operator.deployment.yaml
  charts/everest/templates/everest-olm/olmconfig.yaml
  charts/everest/templates/everest-olm/packageserver.apiservice.yaml
  charts/everest/templates/everest-olm/packageserver.deployment.yaml
  charts/everest/templates/everest-olm/packageserver.rbac.yaml
  charts/everest/templates/everest-olm/packageserver.service.yaml
  charts/everest/templates/everest-olm/serviceaccount.yaml
  charts/everest/templates/olm-namespace.yaml
  charts/everest/values.yaml
Owners: @percona/everest-backend-devs

update docs
  charts/everest/README.md
Owners: @percona/everest-backend-devs

Bump chart version
  charts/pxc-db/Chart.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Update Everest chart
  charts/everest/templates/hooks.yaml
Owners: @percona/everest-backend-devs

Bump chart version
  charts/everest/charts/common/Chart.yaml
Owners: @percona/everest-backend-devs

Update docs
  charts/everest/charts/common/README.md
Owners: @percona/everest-backend-devs

Update deps
  charts/everest/Chart.lock
  charts/everest/charts/everest-db-namespace/Chart.lock
Owners: @percona/everest-backend-devs

PMM-13725 Allow specifying namespace also to service and service account (#517)
  charts/pmm/Chart.yaml
  charts/pmm/templates/service.yaml
  charts/pmm/templates/serviceaccount.yaml
Owners: @percona/pmm-review-be, @spron-in

Update index.yaml
  index.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

PMM-13997 Update PMM chart to handle namespaces only on install
  charts/pmm/Chart.yaml
  charts/pmm/templates/clusterrole.yaml
  charts/pmm/templates/clusterrolebinding.yaml
  charts/pmm/templates/configmap.yaml
  charts/pmm/templates/ingress.yaml
  charts/pmm/templates/secret-certs.yaml
  charts/pmm/templates/secret.yaml
  charts/pmm/templates/service.yaml
  charts/pmm/templates/serviceaccount.yaml
  charts/pmm/templates/statefulset.yaml
Owners: @percona/pmm-review-be, @spron-in

K8SPSMDB-1265 - Update PSMDB operator chart for 1.20.0 release (#513)
  charts/psmdb-db/Chart.yaml
  charts/psmdb-db/README.md
  charts/psmdb-db/templates/cluster.yaml
  charts/psmdb-db/values.yaml
  charts/psmdb-operator/Chart.yaml
  charts/psmdb-operator/README.md
  charts/psmdb-operator/crds/crd.yaml
  charts/psmdb-operator/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Update index.yaml
  index.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Update index.yaml
  index.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Update index.yaml
  index.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

use percona olm chart
  charts/everest/Chart.lock
  charts/everest/Chart.yaml
  charts/everest/README.md
  charts/everest/values.yaml
Owners: @percona/everest-backend-devs

update crds
  charts/everest/charts/everest-crds/templates/backupstorages.everest.percona.com.yaml
  charts/everest/charts/everest-crds/templates/databaseclusterbackups.everest.percona.com.yaml
  charts/everest/charts/everest-crds/templates/databaseclusterrestores.everest.percona.com.yaml
  charts/everest/charts/everest-crds/templates/databaseclusters.everest.percona.com.yaml
  charts/everest/charts/everest-crds/templates/databaseengines.everest.percona.com.yaml
  charts/everest/charts/everest-crds/templates/monitoringconfigs.everest.percona.com.yaml
  charts/everest/charts/everest-crds/templates/podschedulingpolicies.everest.percona.com.yaml
Owners: @percona/everest-backend-devs

update symlink
  charts/everest/crds/podschedulingpolicies.everest.percona.com.yaml
Owners: @percona/everest-backend-devs

bump version
  charts/everest/Chart.lock
  charts/everest/charts/common/Chart.yaml
  charts/everest/charts/common/README.md
  charts/everest/charts/everest-db-namespace/Chart.lock
Owners: @percona/everest-backend-devs

update openshift docs
  charts/everest/docs/openshift.md
Owners: @percona/everest-backend-devs

add pr check for symlinks
  .github/workflows/everest-pr-checks.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

update makefile
  charts/everest/Makefile
Owners: @percona/everest-backend-devs

add newline
  charts/everest/Chart.yaml
Owners: @percona/everest-backend-devs

add missing newline
  charts/everest/charts/everest-db-namespace/Chart.yaml
Owners: @percona/everest-backend-devs

add missing newline
  charts/everest/values.yaml
Owners: @percona/everest-backend-devs

remove blank lines
  charts/everest/charts/everest-db-namespace/Chart.yaml
Owners: @percona/everest-backend-devs

EVEREST-2078 Remove chart version check for applying default PSP
  charts/everest/templates/hooks.yaml
Owners: @percona/everest-backend-devs

Bump chart version
  charts/pxc-db/Chart.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Fix broken values chart in PXC-DB README
  charts/pxc-db/README.md
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

.github/CODEOWNERS:

* @hors @tplavcic @nmarukovich @ptankov @jvpasinatto @eleo007
/charts/pmm/ @percona/pmm-review-be  @spron-in
/charts/everest/ @percona/everest-backend-devs
.github/everest-pr-checks.yaml @percona/everest-backend-devs
.github/everest-release.yaml @percona/everest-backend-devs
