Repository percona/percona-helm-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007, @percona/pmm-review-be, @spron-in, @percona/everest-backend-devs

.github/CODEOWNERS:

* @hors @tplavcic @nmarukovich @ptankov @jvpasinatto @eleo007
/charts/pmm/ @percona/pmm-review-be  @spron-in
/charts/everest/ @percona/everest-backend-devs
.github/everest-pr-checks.yaml @percona/everest-backend-devs
.github/everest-release.yaml @percona/everest-backend-devs

Update maintainers
  charts/pg-db/Chart.yaml
  charts/pg-operator/Chart.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

K8SPG-699: Add example for pgvector
  charts/pg-db/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

K8SPG-619: add `restartPolicy` and `backoffLimit` to `.pgbackrest.jobs`
  charts/pg-db/templates/cluster.yaml
  charts/pg-db/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Update index.yaml
  index.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Update index.yaml
  index.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

EVEREST-107 remove tech preview badge
  charts/everest/README.md
  charts/everest/README.md.gotmpl
Owners: @percona/everest-backend-devs

remove test.yaml
  charts/everest/test.yaml
Owners: @percona/everest-backend-devs

Make securityContext optional for psmdb, pg operators
  charts/pg-operator/templates/deployment.yaml
  charts/pg-operator/values.yaml
  charts/psmdb-operator/templates/deployment.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

add clusterrolebinding for openshift
  charts/everest/templates/ksm-openshift-clusterrolebinding.yaml
Owners: @percona/everest-backend-devs

add document for openshift
  charts/everest/docs/openshift.md
Owners: @percona/everest-backend-devs

add reference
  charts/everest/README.md
  charts/everest/README.md.gotmpl
Owners: @percona/everest-backend-devs

Update charts/everest/templates/ksm-openshift-clusterrolebinding.yaml
  charts/everest/templates/ksm-openshift-clusterrolebinding.yaml
Owners: @percona/everest-backend-devs

Remove extra creationTimestamp null in OLM
  charts/everest/crds/olm.yaml
Owners: @percona/everest-backend-devs

K8SPG-554: add `.spec.tlsOnly`
  charts/pg-db/README.md
  charts/pg-db/templates/cluster.yaml
  charts/pg-db/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

PMM-13679 Support for PMM 3.
  charts/pmm/Chart.yaml
  charts/pmm/templates/statefulset.yaml
  charts/pmm/values.yaml
Owners: @percona/pmm-review-be, @spron-in

Update psmdb-db chart with 1.19.0 images
  charts/psmdb-db/README.md
  charts/psmdb-db/templates/cluster.yaml
  charts/psmdb-db/values.yaml
  charts/psmdb-operator/crds/crd.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

K8SPXC-1367: add `readinessProbes`, `livenessProbes` fields for pmm
  charts/pxc-db/README.md
  charts/pxc-db/templates/cluster.yaml
  charts/pxc-db/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

PMM-13679 Fix security policy.
  charts/pmm/templates/statefulset.yaml
  charts/pmm/values.yaml
Owners: @percona/pmm-review-be, @spron-in

PMM-13679 Fix security policy.
  charts/pmm/templates/statefulset.yaml
  charts/pmm/values.yaml
Owners: @percona/pmm-review-be, @spron-in

PMM-13679 Fix security policy.
  charts/pmm/templates/statefulset.yaml
  charts/pmm/values.yaml
Owners: @percona/pmm-review-be, @spron-in

Update index.yaml
  index.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

PMM-13679 update docker image.
  charts/pmm/templates/statefulset.yaml
  charts/pmm/values.yaml
Owners: @percona/pmm-review-be, @spron-in

Revert "EVEREST-1618 add affinity"
  charts/everest/crds/everest.yaml
Owners: @percona/everest-backend-devs

add the ability to set env variables in deployments
  charts/everest/README.md
  charts/everest/templates/everest-operator/deployment.yaml
  charts/everest/templates/everest-server/deployment.yaml
  charts/everest/values.yaml
Owners: @percona/everest-backend-devs

EVEREST-1837 fix env values example
  charts/everest/values.yaml
Owners: @percona/everest-backend-devs

EVEREST-1837 fix operator.env and server.env value types
  charts/everest/README.md
  charts/everest/values.yaml
Owners: @percona/everest-backend-devs

EVEREST-1799 add scope field in oidc
  charts/everest/values.yaml
Owners: @percona/everest-backend-devs

EVEREST-1799 change scopes string to array
  charts/everest/values.yaml
Owners: @percona/everest-backend-devs

deploy pmm with everest
  charts/everest/Chart.lock
  charts/everest/Chart.yaml
  charts/everest/README.md
  charts/everest/values.yaml
Owners: @percona/everest-backend-devs

update makefile
  charts/everest/Makefile
Owners: @percona/everest-backend-devs

add pmm test
  .github/workflows/everest-pr-checks.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

increase timeout
  .github/workflows/everest-pr-checks.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

fix condition
  .github/workflows/everest-pr-checks.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

PMM-13679 update docker image.
  charts/pmm/values.yaml
Owners: @percona/pmm-review-be, @spron-in

PMM-13679 fix linter.
  charts/pmm/values.yaml
Owners: @percona/pmm-review-be, @spron-in

PMM-13679 Support for PMM 3. (#471)
  charts/pmm/Chart.yaml
  charts/pmm/templates/statefulset.yaml
  charts/pmm/values.yaml
Owners: @percona/pmm-review-be, @spron-in

Update index.yaml
  index.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

PMM-13725 Allow specifying namespace.
  charts/pmm/templates/_helpers.tpl
  charts/pmm/templates/clusterrole.yaml
  charts/pmm/templates/clusterrolebinding.yaml
  charts/pmm/templates/configmap.yaml
  charts/pmm/templates/ingress.yaml
  charts/pmm/templates/secret-certs.yaml
  charts/pmm/templates/secret.yaml
  charts/pmm/templates/service.yaml
  charts/pmm/templates/serviceaccount.yaml
  charts/pmm/templates/statefulset.yaml
  charts/pmm/values.yaml
Owners: @percona/pmm-review-be, @spron-in

pg-db - Added missing PerconaPGCluster .spec.standby. fields
  charts/pg-db/templates/cluster.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

pg-db - Added missing PerconaPGCluster .spec.standby. fields - pushed chart version number
  charts/pg-db/Chart.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007
