Repository percona/percona-helm-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007, @percona/pmm-review-be, @spron-in, @percona/everest-backend-devs

.github/CODEOWNERS:

* @hors @tplavcic @nmarukovich @ptankov @jvpasinatto @eleo007
/charts/pmm/ @percona/pmm-review-be  @spron-in
/charts/everest/ @percona/everest-backend-devs
.github/everest-pr-checks.yaml @percona/everest-backend-devs
.github/everest-release.yaml @percona/everest-backend-devs

K8SPXC-1615 custom name for pmm
  charts/pxc-db/README.md
  charts/pxc-db/values.yaml
  charts/pxc-operator/crds/crd.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Rename default PodSchedulingPolicy for PG
  charts/everest/templates/everest-server/podschedulingpolicies.yaml
Owners: @percona/everest-backend-devs

fix incorrect value for DISABLE_TELEMETRY
  charts/everest/charts/everest-db-namespace/templates/pg.subscription.yaml
  charts/everest/charts/everest-db-namespace/templates/psmdb.subscription.yaml
  charts/everest/charts/everest-db-namespace/templates/pxc.subscription.yaml
Owners: @percona/everest-backend-devs

set DISABLE_TELEMETRY in server deployment
  charts/everest/Makefile
  charts/everest/templates/everest-server/deployment.yaml
Owners: @percona/everest-backend-devs

remove quotes
  charts/everest/Makefile
Owners: @percona/everest-backend-devs

telemetry off by default
  charts/everest/values.yaml
Owners: @percona/everest-backend-devs

update docs
  charts/everest/README.md
Owners: @percona/everest-backend-devs

Update Chart.yaml
  charts/pxc-db/Chart.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

fix port-forward instructions for TLS
  charts/everest/templates/NOTES.txt
Owners: @percona/everest-backend-devs

Update CRD for PodSchedulingPolicy
  charts/everest/crds/everest.yaml
Owners: @percona/everest-backend-devs

Update psmdb operator maintainers
  charts/psmdb-db/Chart.yaml
  charts/psmdb-operator/Chart.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Update versions
  charts/psmdb-db/README.md
  charts/psmdb-db/templates/NOTES.txt
  charts/psmdb-db/values.yaml
  charts/psmdb-operator/README.md
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Update psmdb crd
  charts/psmdb-operator/crds/crd.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

wip
  charts/everest/crds/everest.yaml
  charts/everest/templates/everest-operator/manager.clusterrole.yaml
Owners: @percona/everest-backend-devs

Update PodSchedulingPolicy CRD
  charts/everest/crds/everest.yaml
  charts/everest/templates/everest-server/clusterrole.yaml
  charts/everest/templates/everest-server/podschedulingpolicies.yaml
Owners: @percona/everest-backend-devs

Mark default PSP with finalizer
  charts/everest/charts/common/templates/_psp_cleanup.yaml.tpl
  charts/everest/templates/everest-server/podschedulingpolicies.yaml
  charts/everest/templates/hooks.yaml
Owners: @percona/everest-backend-devs

wip
  charts/everest/crds/everest.yaml
  charts/everest/templates/everest-operator/manager.clusterrole.yaml
Owners: @percona/everest-backend-devs

update comment
  charts/everest/README.md
  charts/everest/values.yaml
Owners: @percona/everest-backend-devs

Update PSP spec
  charts/everest/crds/everest.yaml
  charts/everest/templates/everest-operator/manager.clusterrole.yaml
  charts/everest/templates/everest-operator/podschedulingpolicy-editor.clusterrole.yaml
  charts/everest/templates/everest-operator/podschedulingpolicy-viewer.clusterrole.yaml
Owners: @percona/everest-backend-devs

Update PSP spec
  charts/everest/crds/everest.yaml
Owners: @percona/everest-backend-devs

Update everest-operator deps
  charts/everest/crds/everest.yaml
Owners: @percona/everest-backend-devs

Update PSP removal during chart uninstallation
  charts/everest/charts/common/templates/_psp_cleanup.yaml.tpl
Owners: @percona/everest-backend-devs

Update PSP cleanup role permissions
  charts/everest/charts/common/templates/_psp_cleanup.yaml.tpl
  charts/everest/templates/everest-server/podschedulingpolicies.yaml
Owners: @percona/everest-backend-devs

Fix chart
  charts/everest/templates/everest-server/podschedulingpolicies.yaml
Owners: @percona/everest-backend-devs

Set default PSP on existing DB Clusters during Everest upgrade
  charts/everest/charts/common/templates/_assign_default_psp.yaml.tpl
  charts/everest/templates/hooks.yaml
Owners: @percona/everest-backend-devs

Use Mongo 7 as default
  charts/psmdb-db/README.md
  charts/psmdb-db/templates/NOTES.txt
  charts/psmdb-db/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Fix broken values chart in PXC-DB README
  charts/pxc-db/README.md
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Make PodSchedulingPolicy cluster-scoped
  charts/everest/charts/common/templates/_assign_default_psp.yaml.tpl
  charts/everest/charts/common/templates/_psp_cleanup.yaml.tpl
  charts/everest/crds/everest.yaml
  charts/everest/templates/everest-server/podschedulingpolicies.yaml
Owners: @percona/everest-backend-devs

Delete all PSP on Everest Helm chart uninstall
  charts/everest/charts/common/templates/_psp_cleanup.yaml.tpl
Owners: @percona/everest-backend-devs

wip
  charts/everest/crds/everest.yaml
Owners: @percona/everest-backend-devs

Assign default PSP to avoid DB clusters restart
  charts/everest/charts/common/templates/_assign_default_psp.yaml.tpl
  charts/everest/charts/common/templates/_create_default_psp.yaml.tpl
  charts/everest/charts/common/templates/_psp_cleanup.yaml.tpl
  charts/everest/templates/everest-operator/podschedulingpolicy-editor.clusterrole.yaml
  charts/everest/templates/hooks.yaml
Owners: @percona/everest-backend-devs

EVEREST-343 use percona/olm fork image
  charts/everest/README.md
  charts/everest/values.yaml
Owners: @percona/everest-backend-devs

Rename default policies for PXC and PSMDB
  charts/everest/charts/common/templates/_assign_default_psp.yaml.tpl
  charts/everest/charts/common/templates/_create_default_psp.yaml.tpl
Owners: @percona/everest-backend-devs

remove crd checks
  .github/workflows/everest-pr-checks.yaml
  .github/workflows/everest-release.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

clean-up, use static-labels
  charts/everest/charts/everest-crds/Makefile
  charts/everest/charts/everest-crds/hack/crd-split.py
  charts/everest/charts/everest-crds/kustomization.yaml
  charts/everest/charts/everest-crds/templates/_helpers.tpl
  charts/everest/charts/everest-crds/templates/backupstorages.everest.percona.com.yaml
  charts/everest/charts/everest-crds/templates/databaseclusterbackups.everest.percona.com.yaml
  charts/everest/charts/everest-crds/templates/databaseclusterrestores.everest.percona.com.yaml
  charts/everest/charts/everest-crds/templates/databaseclusters.everest.percona.com.yaml
  charts/everest/charts/everest-crds/templates/databaseengines.everest.percona.com.yaml
  charts/everest/charts/everest-crds/templates/monitoringconfigs.everest.percona.com.yaml
  charts/test.yaml
Owners: @percona/everest-backend-devs, @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

clean-up
  hack/crd-split.py
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

update Makefile
  charts/everest/charts/everest-crds/Makefile
Owners: @percona/everest-backend-devs

add release scripts
  charts/everest/Chart.lock
  charts/everest/Chart.yaml
  charts/everest/Makefile
  charts/everest/charts/everest-crds/Chart.yaml
  charts/everest/charts/everest-crds/templates/backupstorages.everest.percona.com.yaml
  charts/everest/charts/everest-crds/templates/databaseclusterbackups.everest.percona.com.yaml
  charts/everest/charts/everest-crds/templates/databaseclusterrestores.everest.percona.com.yaml
  charts/everest/charts/everest-crds/templates/databaseclusters.everest.percona.com.yaml
  charts/everest/charts/everest-crds/templates/databaseengines.everest.percona.com.yaml
  charts/everest/charts/everest-crds/templates/monitoringconfigs.everest.percona.com.yaml
  charts/everest/charts/everest-db-namespace/Chart.yaml
Owners: @percona/everest-backend-devs

update labels
  charts/everest/charts/everest-crds/Makefile
  charts/everest/charts/everest-crds/templates/backupstorages.everest.percona.com.yaml
  charts/everest/charts/everest-crds/templates/databaseclusterbackups.everest.percona.com.yaml
  charts/everest/charts/everest-crds/templates/databaseclusterrestores.everest.percona.com.yaml
  charts/everest/charts/everest-crds/templates/databaseclusters.everest.percona.com.yaml
  charts/everest/charts/everest-crds/templates/databaseengines.everest.percona.com.yaml
  charts/everest/charts/everest-crds/templates/monitoringconfigs.everest.percona.com.yaml
  charts/everest/templates/check-crd.yaml
  charts/everest/values.yaml
Owners: @percona/everest-backend-devs

add CRD upgrade check
  charts/everest/templates/check-crd.yaml
Owners: @percona/everest-backend-devs
