Repository percona/percona-helm-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007, @percona/pmm-review-be, @spron-in, @percona/everest-backend-devs

.github/CODEOWNERS:

* @hors @tplavcic @nmarukovich @ptankov @jvpasinatto @eleo007
/charts/pmm/ @percona/pmm-review-be  @spron-in
/charts/everest/ @percona/everest-backend-devs
.github/everest-pr-checks.yaml @percona/everest-backend-devs
.github/everest-release.yaml @percona/everest-backend-devs

EVEREST-1856 expose server service
  charts/everest/README.md
  charts/everest/templates/everest-server/service.yaml
  charts/everest/values.yaml
Owners: @percona/everest-backend-devs

PMM-13725 update helm chart version.
  charts/pmm/Chart.yaml
Owners: @percona/pmm-review-be, @spron-in

EVEREST-1799 update everest CRDs
  charts/everest/crds/everest.yaml
Owners: @percona/everest-backend-devs

Update index.yaml
  index.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

K8SPG-554: add `.spec.tlsOnly` (#469)
  charts/pg-db/README.md
  charts/pg-db/templates/cluster.yaml
  charts/pg-db/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Add autoCreateUserSchema field in pg-db template
  charts/pg-db/templates/cluster.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

K8SPG-634: Add autoCreateUserSchema field (#453)
  charts/pg-db/README.md
  charts/pg-db/templates/cluster.yaml
  charts/pg-db/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

K8SPG-676 - Add missing resources requests fields
  charts/pg-db/README.md
  charts/pg-db/templates/cluster.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Update image versions
  charts/pg-db/README.md
  charts/pg-db/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Update crd and notes
  charts/pg-db/templates/NOTES.txt
  charts/pg-operator/crds/crd.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Use resources named template
  charts/pg-db/templates/_helpers.tpl
  charts/pg-db/templates/cluster.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

K8SPG-678 - Remove hard coded values and fixes
  charts/pg-db/templates/cluster.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

K8SPS-376 Update PS Operator charts for 0.9.0 release - 01
  charts/ps-db/values.yaml
  charts/ps-operator/Chart.yaml
  charts/ps-operator/README.md
  charts/ps-operator/crds/crd.yaml
  charts/ps-operator/mytemplate.yaml
  charts/ps-operator/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Update versions for 0.9.0 PS release
  charts/ps-db/Chart.yaml
  charts/ps-db/README.md
  charts/ps-db/values.yaml
  charts/ps-operator/mytemplate.yaml
  charts/ps-operator/templates/role.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Add backup.schedule
  charts/ps-db/README.md
  charts/ps-db/templates/cluster.yaml
  charts/ps-db/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

K8SPS-376 Update PS Operator charts for 0.9.0 release (#485)
  charts/ps-db/Chart.yaml
  charts/ps-db/README.md
  charts/ps-db/templates/cluster.yaml
  charts/ps-db/values.yaml
  charts/ps-operator/Chart.yaml
  charts/ps-operator/README.md
  charts/ps-operator/crds/crd.yaml
  charts/ps-operator/templates/role.yaml
  charts/ps-operator/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Update index.yaml
  index.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

K8SPSMDB-1283 Update PSMDB charts for 1.19.1 release
  charts/psmdb-db/Chart.yaml
  charts/psmdb-db/README.md
  charts/psmdb-db/values.yaml
  charts/psmdb-operator/Chart.yaml
  charts/psmdb-operator/README.md
  charts/psmdb-operator/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

EVEREST-1856 set everest-server targetPort to always be 8080
  charts/everest/templates/everest-server/service.yaml
Owners: @percona/everest-backend-devs

bump pmm client in psmdb-db chart
  charts/psmdb-db/Chart.yaml
  charts/psmdb-db/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Support adding labels to instance metadata as per the CRD
  charts/pg-db/templates/cluster.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

K8SPSMDB-1283 - use 7.0.15-9-multi for 1.19.1 release
  charts/psmdb-db/README.md
  charts/psmdb-db/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Added metadata fields to helm chart
  charts/pg-db/Chart.yaml
  charts/pg-db/templates/cluster.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Added README.md documentation for .instances[].metadata fields
  charts/pg-db/README.md
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Added commented keys to pg-db helm-chart for instances[].metadata
  charts/pg-db/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Fixed alignment on pg-db helm chart instance[].metadata fields
  charts/pg-db/README.md
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

K8SPSMDB-1283 Update PSMDB charts for 1.19.1 release (#486)
  charts/psmdb-db/Chart.yaml
  charts/psmdb-db/README.md
  charts/psmdb-db/values.yaml
  charts/psmdb-operator/Chart.yaml
  charts/psmdb-operator/README.md
  charts/psmdb-operator/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Update index.yaml
  index.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

update README
  charts/pg-db/README.md
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Update index.yaml
  index.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Update index.yaml
  index.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Add pg-db intances metadata fields (#491)
  charts/pg-db/Chart.yaml
  charts/pg-db/README.md
  charts/pg-db/templates/cluster.yaml
  charts/pg-db/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Update index.yaml
  index.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

K8SPG-619: add `restartPolicy` and `backoffLimit` to `.pgbackrest.jobs` (#462)
  charts/pg-db/README.md
  charts/pg-db/templates/cluster.yaml
  charts/pg-db/values.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

Fix certificate generation in pxc-db
  charts/pxc-db/Chart.yaml
  charts/pxc-db/README.md
  charts/pxc-db/templates/cluster-ssl-secret.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

[helm] operator installer script must use full names
  charts/everest/charts/common/templates/_operators_installer.yaml.tpl
Owners: @percona/everest-backend-devs

bump version
  charts/everest/charts/common/Chart.yaml
  charts/everest/charts/common/README.md
Owners: @percona/everest-backend-devs

update deps
  charts/everest/Chart.lock
  charts/everest/charts/everest-db-namespace/Chart.lock
Owners: @percona/everest-backend-devs

revert cert validity
  charts/pxc-db/templates/cluster-ssl-secret.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007

add condition for ssl-internal
  charts/pxc-db/templates/cluster-ssl-secret.yaml
Owners: @hors, @tplavcic, @nmarukovich, @ptankov, @jvpasinatto, @eleo007
