Repository percona/percona-helm-charts, pull requests merged in 2024-01, with the labels that each got.

#251 PMM-12586 Automatically apply changes to the pmmEnv
  .gitignore
  charts/pmm/Chart.yaml
  charts/pmm/templates/_helpers.tpl
Labels: community, pmm

#263 fix(pmm/secret): use Values.secret.annotations
  charts/pmm/Chart.yaml
  charts/pmm/README.md
  charts/pmm/templates/secret.yaml
  charts/pmm/values.yaml
Labels: community, pmm

#173 CLOUD-838 - [PSMDB Operator] Support health and metrics endpoints
  charts/psmdb-operator/Chart.yaml
  charts/psmdb-operator/templates/deployment.yaml
Labels: community, psmdb, testing-required

#236 K8SPG-416 Update values.yaml for postgresql parameters and pg_hba
  charts/pg-db/Chart.yaml
  charts/pg-db/README.md
  charts/pg-db/values.yaml
Labels: pg

#244 CLOUD-838 - Fix namespace assignment in pxc-db s3-secret.yaml
  charts/pxc-db/Chart.yaml
  charts/pxc-db/templates/s3-secret.yaml
Labels: community, pxc, testing-required

#247 CLOUD-838 - Add pxcParams and proxysqlParams keys to pmm
  charts/pxc-db/Chart.yaml
  charts/pxc-db/README.md
  charts/pxc-db/templates/cluster.yaml
  charts/pxc-db/values.yaml
Labels: community, pxc, testing-required

#248 CLOUD-838 - Fix backup pod-containerSecurityContext
  charts/psmdb-db/Chart.yaml
  charts/psmdb-db/README.md
  charts/psmdb-db/templates/cluster.yaml
  charts/psmdb-db/values.yaml
Labels: community, psmdb, testing-required
