Repository percona/percona-helm-charts, pull requests merged in 2024-02, with the labels that each got.

#252 CLOUD-838 - Fix dataVolumeClaimSpec...storage in README
  charts/pg-db/Chart.yaml
  charts/pg-db/README.md
Labels: community, pg

#257 CLOUD-838 - Allow setting env vars on the pxc-operator deployment
  charts/pxc-operator/Chart.yaml
  charts/pxc-operator/README.md
  charts/pxc-operator/templates/deployment.yaml
  charts/pxc-operator/values.yaml
Labels: community, pxc, testing-required

#270 CLOUD-838 - psmdb-db fix: update path and type HostPath
  charts/psmdb-db/Chart.yaml
  charts/psmdb-db/README.md
  charts/psmdb-db/templates/cluster.yaml
  charts/psmdb-db/values.yaml
Labels: community, psmdb, testing-required

#279 CLOUD-838 - MySQL backup image must always be specified
  charts/ps-db/Chart.yaml
  charts/ps-db/templates/cluster.yaml
Labels: community, ps, testing-required
