Repository percona/percona-helm-charts, pull requests merged in 2024-03, with the labels that each got.

#291 deletes too many whitespaces (new line)
  charts/pmm/Chart.yaml
  charts/pmm/templates/secret.yaml
Labels: community, pmm

#296 K8SPSMDB-930 - psmdb-operator - Fix watchNamespace
  charts/psmdb-operator/Chart.yaml
  charts/psmdb-operator/README.md
  charts/psmdb-operator/templates/namespace.yaml
  charts/psmdb-operator/templates/role-binding.yaml
  charts/psmdb-operator/templates/role.yaml
  charts/psmdb-operator/values.yaml
Labels: psmdb

#299 K8SPSMDB-1049 - psmdb-operator - add option for pod and deployment labels
  charts/psmdb-operator/Chart.yaml
  charts/psmdb-operator/README.md
  charts/psmdb-operator/templates/deployment.yaml
  charts/psmdb-operator/values.yaml
Labels: community, psmdb, testing-required

#301 K8SPG-524 - pg-db - fix for pgbackrest global section fails to render
  charts/pg-db/Chart.yaml
  charts/pg-db/templates/cluster.yaml
Labels: community, pg

#304 K8SPG-527 - Fix pg-db cluster.yaml resources placeholder syntax error
  charts/pg-db/Chart.yaml
  charts/pg-db/README.md
  charts/pg-db/templates/cluster.yaml
  charts/pg-db/values.yaml
Labels: community, pg, testing-required

#306 K8SPG-528 - Passing the schedule as a string to allow an asterisk at the beginning
  charts/pg-db/Chart.yaml
  charts/pg-db/templates/cluster.yaml
Labels: community, pg, testing-required
