Repository percona/percona-helm-charts, pull requests merged in 2024-04, with the labels that each got.

#313 K8SPG-540 - pg-db - Syntax issue while helm install
  charts/pg-db/Chart.yaml
  charts/pg-db/README.md
  charts/pg-db/templates/cluster.yaml
Labels: community, pg

#314 K8SPXC-1383 - pxc-db: logcollector add containerSecurityContext
  charts/pxc-db/Chart.yaml
  charts/pxc-db/README.md
  charts/pxc-db/templates/cluster.yaml
  charts/pxc-db/values.yaml
Labels: community, pxc

#316 K8SPG-541 - pg-db: fix differential schedule, any repository combinations
  charts/pg-db/Chart.yaml
  charts/pg-db/templates/cluster.yaml
Labels: community, pg

#300 K8SPXC-1365 - pxc-operator - Fix watchNamespace
  charts/pxc-operator/Chart.yaml
  charts/pxc-operator/README.md
  charts/pxc-operator/templates/deployment.yaml
  charts/pxc-operator/templates/namespace.yaml
  charts/pxc-operator/templates/role-binding.yaml
  charts/pxc-operator/templates/role.yaml
  charts/pxc-operator/values.yaml
Labels: pxc

#318 K8SPG-546 - pg-db: restore without postgresCluster, options for pgbackrest, restore from gcs and azure
  charts/pg-db/Chart.yaml
  charts/pg-db/templates/cluster.yaml
  charts/pg-db/values.yaml
Labels: community, pg

#320 K8SPG-562 - pg-db: Support for incremental backups
  charts/pg-db/Chart.yaml
  charts/pg-db/README.md
  charts/pg-db/templates/cluster.yaml
  charts/pg-db/values.yaml
Labels: community, pg, testing-required

#321 K8SPG-563 - pg-db: Fix multiple labels for topologySpreadConstraints
  charts/pg-db/Chart.yaml
  charts/pg-db/templates/cluster.yaml
Labels: community, pg, testing-required

#323 K8SPG-564 - pg-db: Fix exposing of pgBouncer load balancing
  charts/pg-db/Chart.yaml
  charts/pg-db/templates/cluster.yaml
Labels: community, pg, testing-required
