Repository percona/percona-helm-charts, pull requests merged in 2024-09, with the labels that each got.

#368 K8SPG-577: pmm.querySource
  charts/pg-db/README.md
  charts/pg-db/templates/cluster.yaml
  charts/pg-db/values.yaml
  charts/pg-operator/crds/crd.yaml
Labels: pg

#377 K8SPSMDB-1160: disable pvc resizing by default
  charts/psmdb-db/README.md
  charts/psmdb-db/templates/cluster.yaml
  charts/psmdb-db/values.yaml
Labels: psmdb

#371 K8SPSMDB-739: standardize `expose` sections
  charts/psmdb-db/README.md
  charts/psmdb-db/templates/cluster.yaml
  charts/psmdb-db/values.yaml
Labels: psmdb

#369 K8SPG-644 - Fix tolerations iteration issue for pg-db cluster template
  charts/pg-db/templates/cluster.yaml
Labels: community, pg
