Repository percona/percona-helm-charts, pull requests merged in 2024-05, with the labels that each got.

#324 K8SPG-572 - Fix indentation issue with pgbouncer config
  charts/pg-db/Chart.yaml
  charts/pg-db/templates/cluster.yaml
Labels: community, pg

#326 K8SPG-573 - Specify storageClassName
  charts/pg-db/Chart.yaml
  charts/pg-db/README.md
  charts/pg-db/templates/cluster.yaml
  charts/pg-db/values.yaml
Labels: community, pg

#249 K8SPSMDB-1003: Add permission to read node labels
  charts/psmdb-operator/Chart.yaml
  charts/psmdb-operator/templates/role.yaml
Labels: community, psmdb, testing-required

#329 K8SPG-585 - PG - Add namespace to templates
  charts/pg-db/Chart.yaml
  charts/pg-db/templates/cluster.yaml
  charts/pg-operator/Chart.yaml
  charts/pg-operator/templates/deployment.yaml
  charts/pg-operator/templates/role-binding.yaml
  charts/pg-operator/templates/role.yaml
Labels: pg
