Repository percona/percona-helm-charts, pull requests merged in 2025-04, with the labels that each got.

#525 K8SPSMDB-1329: Add expose.loadBalancerClass
  charts/psmdb-db/README.md
  charts/psmdb-db/templates/cluster.yaml
  charts/psmdb-db/values.yaml
Labels: psmdb

#524 K8SPSMDB-1316: Add pmm.customClusterName
  charts/psmdb-db/README.md
  charts/psmdb-db/templates/cluster.yaml
  charts/psmdb-db/values.yaml
Labels: psmdb

#497 K8SPSMDB-1219: Add main storage example
  charts/psmdb-db/values.yaml
Labels: psmdb

#503 K8SPXC1535 - Update PXC operator chart for 1.17.0 release
  charts/pxc-db/Chart.yaml
  charts/pxc-db/README.md
  charts/pxc-db/templates/cluster.yaml
  charts/pxc-db/values.yaml
  charts/pxc-operator/Chart.yaml
  charts/pxc-operator/README.md
  charts/pxc-operator/crds/crd.yaml
  charts/pxc-operator/templates/role.yaml
Labels: pxc

#515 K8SPG-574: add `pg_repack` to `.spec.extensions.builtin`
  charts/pg-db/values.yaml
Labels: pg
