Repository percona/percona-helm-charts, pull requests merged in 2025-09, with the labels that each got.

#576 Release PS Operator 0.11.0
  charts/ps-db/Chart.yaml
  charts/ps-db/README.md
  charts/ps-db/templates/cluster.yaml
  charts/ps-db/values.yaml
  charts/ps-operator/Chart.yaml
  charts/ps-operator/README.md
  charts/ps-operator/crds/crd.yaml
  charts/ps-operator/templates/NOTES.txt
  charts/ps-operator/templates/role.yaml
  charts/ps-operator/values.yaml
Labels: ps

#615 K8SPS-413: replace initImage with initContainer
  charts/ps-db/README.md
  charts/ps-db/templates/cluster.yaml
  charts/ps-db/values.yaml
Labels: ps

#523 fix chart for using watchAllNamespaces and correct Role/ClusterRole management
  charts/ps-operator/Chart.yaml
  charts/ps-operator/README.md
  charts/ps-operator/templates/deployment.yaml
  charts/ps-operator/templates/role-binding.yaml
  charts/ps-operator/templates/role.yaml
  charts/ps-operator/values.yaml
Labels: community, ps

#614 K8SPSMDB-1398 - Add enableExternalVolumeAutoscaling field
  charts/psmdb-db/README.md
  charts/psmdb-db/templates/cluster.yaml
  charts/psmdb-db/values.yaml
  charts/psmdb-operator/crds/crd.yaml
Labels: psmdb
